<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="blocks/header :: header"/>
<div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Меню добавления производителя</h4>
    <form class="needs-validation" th:action="@{/addManufacturer}" th:method="post" th:object="${manufacturer}">

        <input type="hidden" th:field="*{id}">
        <div class="col-12">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Apple">
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
        </div>
        <hr class="my-4">

        <button class="w-100 btn btn-dark btn-lg" type="submit">Добавить</button>
    </form>
</div>
</body>
</html>