<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="/registration" method="post">
    <div><label>User name: <input type="text" name="username"></label></div>
    <div><label>Password: <input type="password" name="password"></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Sign In"></div>
</form>
<div th:if="${msg}">
    <p style="color: red" th:text="${msg}"></p>
</div>
</body>
</html>